.community_write_wrapper {
    padding: 0px 360px;
}

.community_write_wrapper h1 {
    font-family: "NanumSquareBold";
    font-size: 20px;
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}