.introduction_detail_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.image_wrapper {
    margin-right: 30px;
    min-width: 500px;
    min-height: 500px;
}

.animal_image {
    border-radius: 10px;
}

.animal_info_wrapper {
    min-width: 500px;
    min-height: 500px;
    width: 500px;
    height: 500px;
    position: relative;
}

.animal_info_wrapper .animal_title {
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;
}

.animal_info_wrapper .animal_title span {
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

.animal_info_wrapper .animal_title span.protected {
    border-color: #6c9c7e;
    color: #6c9c7e;
}

.animal_info_wrapper .animal_title span.process_state {
    border-color: #737373;
    color: #737373;
}

.default_info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.default_info div {
    color: #c4a073;
    font-weight: bold;
    border: 2px solid #CBB395;
    padding: 8px 16px;
    margin: 4px 6px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.animal_info_list {
    font-size: 18px;
    margin: 20px 0px;
    display: flex;
}

.animal_info_list .list_title {
    min-width: 140px;
    color: rgb(68, 68, 68);
}

.animal_info_list .list_content {
    margin-left: 10px;
    margin-top: -1px;
    color: #737373;
    line-height: 20px;
}

.button_container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button_container button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.button_container button.zzim {
    background-color: #ea94a7;
}

.button_container button.zzim:hover {
    background-color: #E0708B;
}

.button_container button.zzim_active {
    background-color: #808080;
    /* 추천하는 찜 해제하기 버튼의 배경색 (예시: 회색) */
}

.button_container button.zzim_active:hover {
    background-color: #666666;
    /* 찜 해제하기 버튼에 호버 효과 시의 배경색 (예시: 더 어두운 회색) */
}

@media screen and (max-width: 1439px) {
    .image_wrapper {
        min-width: 470px;
        min-height: 470px;
    }

    .animal_image {
        width: 470px !important;
        height: 470px !important;
    }

    .animal_info_wrapper {
        min-width: 470px;
        min-height: 470px;
        width: 470px;
        height: 470px;
    }
}

@media screen and (max-width: 1023px) {
    .introduction_detail_wrapper {
        height: 100%;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }

    .image_wrapper {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .button_container {
        width: 100%;
        position: static;
    }
}

@media screen and (max-width: 500px) {
    .image_wrapper {
        min-width: 350px;
        min-height: 350px;
    }

    .animal_image {
        width: 350px !important;
        height: 350px !important;
    }

    .animal_info_wrapper {
        min-width: 350px;
        width: 350px;
    }

    .animal_info_wrapper .animal_title {
        font-size: 20px;
        height: 30px;
    }

    .animal_info_wrapper .animal_title span {
        font-size: 16px;
    }

    .default_info {
        margin-top: 6px;
    }

    .default_info div {
        color: #c4a073;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid #CBB395;
        padding: 6px 14px;
        margin: 2px 4px 2px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
    }

    .animal_info_list {
        font-size: 16px;
        margin: 12px 0px;
        display: flex;
    }

    .animal_info_list .list_title {
        min-width: 118px;
        color: rgb(68, 68, 68);
    }

    .animal_info_list .list_content {
        margin-left: 10px;
        color: #737373;
        line-height: normal;
    }

    .button_container button {
        height: 56px;
        font-size: 18px;
        border-radius: 8px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
}