/* Color */
.my_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius: 50px;
    color: white;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    background-color: #CBB395;
}

.logo:hover {
    background-color: #b6966f;
}

.blue {
    background-color: #3A74ED;
}

.kakao {
    background-color: #F9C42F;
}

.naver {
    background-color: #03c75a;
}

.text_kakao {
    color: #3A1D1A;
}