/* 메인 헤더 */
.main_header {
    width: 100%;
    height: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 10;
}

/* 로고 */
.main_header .logo_wrapper {
    width: 15%;
}

.main_header .logo_wrapper .logo {
    background: url('/img/logo.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}

/* 네비게이션 */
.main_header .nav_wrapper {
    width: 70%;
}

/* 로그인 로그아웃 */
.main_header .auth_wrapper {
    width: 15%;
    color: #737373;
    text-align: end;
}

.main_header .auth_wrapper span {
    color: #737373;
    cursor: pointer;
}

.main_header .auth_wrapper span:hover {
    color: #CBB395;
}

/* 버거메뉴 */
.burger_menu {
    display: none;
}

.burger_navigation {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: white;
    z-index: 20;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

.burger_navigation.burger_off {
    right: -320px;
}

.burger_navigation.burger_on {
    right: 0;
}

.burger_navigation .burger_header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 30px 20px;
}

.burger_navigation .burger_header .burger_logo {
    font-family: 'IM Fell Double Pica', serif;
    font-weight: bold;
}

.burger_navigation .burger_header .burger_close_button {
    cursor: pointer;
    color: #737373;
}

.burger_navigation .burger_list {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    color: #737373;
    cursor: pointer;
}

.burger_navigation .burger_list:hover,
.burger_navigation .burger_list.current_page {
    background-color: #f4eee6;
}

.burger_navigation .burger_list svg {
    width: 26px;
    height: 26px;
    padding: 0px 14px;
}

.burger_navigation .login_wrapper {
    border-bottom: 1px solid #EAEAEA;
}

.burger_dark_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

/* 태블릿 PC */
@media screen and (max-width: 1023px) {

    /* 메인 헤더 */
    .main_header {
        width: 100%;
        height: 100px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        z-index: 10;
    }

    /* 로고 */
    .main_header .logo_wrapper .logo {
        background: url('/img/logo.png');
        background-size: cover;
        background-position: center;
        width: 78px;
        height: 78px;
    }

    /* 네비게이션 */
    .main_header .nav_wrapper {
        width: 70%;
    }

    /* 로그인 로그아웃 */
    .main_header .auth_wrapper {
        width: 15%;
        text-align: end;
        color: #737373;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {

    /* 네비게이션 */
    .main_header .nav_wrapper {
        display: none;
    }

    /* 로그인 로그아웃 */
    .main_header .auth_wrapper {
        display: none;
    }

    .main_header .logo_wrapper {
        width: 30%;
    }


    /* 버거메뉴 */
    .burger_menu {
        display: block;
        color: #737373;
        font-size: 24px;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {

    /* 메인 헤더 */
    .main_header {
        width: 100%;
        height: 64px;
        padding: 18px 16px 0px 6px;
    }

    .main_header .logo_wrapper {
        width: 30%;
    }

    /* 버거메뉴 */
    .burger_menu {
        display: block;
        color: #737373;
        font-size: 18px;
        cursor: pointer;
    }

    .main_header .logo_wrapper .logo {
        background: url('/img/logo.png');
        background-size: cover;
        background-position: center;
        width: 64px;
        height: 64px;
    }
}