/* 메인 헤더 */
.main_header {
    width: 100%;
    height: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 10;
}

/* 로고 */
.main_header .logo_wrapper {
    width: 15%;
}

.main_header .logo_wrapper .logo {
    background: url('/img/logo.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}

/* 네비게이션 */
.main_header .nav_wrapper {
    width: 70%;
}

/* 로그인 로그아웃 */
.main_header .auth_wrapper {
    width: 15%;
    color: #737373;
    text-align: end;
}

/* 버거메뉴 */
.burger_menu {
    display: none;
}

.burger_navigation {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: white;
    z-index: 20;
    transition: right 0.3s ease-in-out;
}

.burger_navigation.burger_off {
    right: -320px;
}

.burger_navigation.burger_on {
    right: 0;
}

.burger_dark_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

/* 태블릿 PC */
@media screen and (max-width: 1023px) {

    /* 메인 헤더 */
    .main_header {
        width: 100%;
        height: 100px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        z-index: 10;
    }

    /* 로고 */
    .main_header .logo_wrapper .logo {
        background: url('/img/logo.png');
        background-size: cover;
        background-position: center;
        width: 70px;
        height: 70px;
    }

    /* 네비게이션 */
    .main_header .nav_wrapper {
        width: 70%;
        font-size: 12px;
    }

    /* 로그인 로그아웃 */
    .main_header .auth_wrapper {
        width: 15%;
        text-align: end;
        color: #737373;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {

    /* 네비게이션 */
    .main_header .nav_wrapper {
        display: none;
    }

    /* 로그인 로그아웃 */
    .main_header .auth_wrapper {
        display: none;
    }

    /* 버거메뉴 */
    .burger_menu {
        display: block;
        color: #737373;
        font-size: 24px;
        cursor: pointer;
    }
}