.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 50px 0px;
}

button.page_button {
    background-color: transparent;
    color: #737373;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button.page_button:hover {
    background-color: #CBB395;
    color: white;
}

button.page_button.active {
    background-color: #CBB395;
    color: white;
}