/* 나눔스퀘어 폰트 */
@font-face {
    font-family: 'NanumSquareLight';
    src: url('/fonts/nanum-square/NanumSquareL.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/nanum-square/NanumSquareR.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquareBold';
    src: url('/fonts/nanum-square/NanumSquareB.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquareExtraBold';
    src: url('/fonts/nanum-square/NanumSquareEB.ttf') format('truetype');
}

/* IM FELL DOBULE PICA FONT */
@font-face {
    font-family: 'IM Fell Double Pica', serif;
    src: url('/fonts/IM_Fell_Double_Pica/IMFellDoublePica-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IM Fell Double Pica', serif;
    src: url('/fonts/IM_Fell_Double_Pica/IMFellDoublePica-Italic.ttf') format('truetype');
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'NanumSquare';
    overflow: hidden;
}

html,
body,
#__next {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

dialog {
    margin: auto;
    border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 1em;
}

/****************************************/
/**************** GLOBAL ****************/
/****************************************/
/* APP WRAPPER */
.app_wrapper {
    height: 100%;
    padding-top: 120px;
    background-color: #EAEAEA;
}

@media screen and (max-width: 1023px) {
    .app_wrapper {
        padding-top: 100px;
    }
}

/* display on off */
.off {
    display: none !important;
}

/* padding */
.pl20 {
    padding-left: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}